{#cms <div class="col-lg-1 add-image-button" id="__insertUid__"> cms#}
    {#cms <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "__insertUid__")' >+</button> cms#}
{#cms </div> cms#}