<div class="carousel-item __insertIsActive__" {#cms id="__insertCarouselImage__" cms#}>
    <img class="d-block w-100"
         src="{{ asset("static/images/all/__insertCarouselImage__.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>__insertCarouselText__</p>
    </div>
</div>