{#cms {{ forms.cmsElementThumbnail() }} cms#}
{#cms onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "__insertImageUid__", "__insertImageText__");'> cms#}
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
        {#cms id="__insertImageUid__" cms#} {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="__insertSlideIndex__" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/__insertImageUid__.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>__insertImageText__</p>
            </div>
        </div>
    </div>
{#cms {{ forms.cmsElementEndTag() }} cms#}
{#cms <input class="file-input" type="text" hidden="hidden" value="__insertImageUid__" id="__insertImageUid__"> cms#}