
 {% extends "views/web/base.html.twig"%} 
{#cms {% extends "views/cms/baseCms.html.twig"%} cms#}
{% block body %}
    <div class="container">
        <div class="modal" id="carouselModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" >
                    <div class="modal-body">
                        <div id="carouselIndicator" class="carousel slide">
                            <ol class="carousel-indicators">
<li class="active"></li>
                            </ol>
                            <div class="carousel-inner">

    <div class="carousel-item active">
        <img class="d-block w-100"
             src="{{ asset("static/images/all/f057e546-2851-4f2a-853d-ebcf011c88f4.jpg") }}">
        <div class="carousel-caption d-none d-md-block">
            <p></p>
        </div>
    </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Nazad</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Naprijed</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1>naslovcicsdasdasdas</h1>
        <div class="row">
            <div class="col-md-4">
                <h3 class="my-3">opiscic</h3>
                <p>                        asfwrwef wef mlweef uiuhoijoiwej wehiuh lkjdhsfiugagehjdshfl aiudhlwu hliuuawfaduhfliasu  wweugh wugh w wo ow owe owo oiQWUR;OIU  po IEUO;IUW oiueroiU PI UPIUEP piue iueiu woiu we;iu oweuiou pwupeupi ieu wufdfifu  i iwi  podip woeif pwefp idf;iduwpa iou w pieu  upweifup  pw </p>
                <h3 class="my-3">asfasfqwq</h3><ul>
<li>asfasf</li>
</ul>
            </div>
            <div class="col-md-8" data-toggle="modal" data-target="#carouselModal"
                 style="cursor: hand; cursor: pointer;">
                <img  data-target="#carouselIndicator" data-slide-to="0"
                    class="img-fluid" src="{{ asset("static/images/all/f057e546-2851-4f2a-853d-ebcf011c88f4.jpg") }}">
        </div>
        </div>
     <div style="margin-top: 50px;" class="row">

    </div>
{%  endblock body %}