<div class="col-sm-6 col-lg-3" data-toggle="modal" data-target="#carouselModal"
     style="cursor: hand; cursor: pointer;">
    <div data-target="#carouselIndicator" data-slide-to="__insertSlideIndex__">
        <img class="card-img-top" src="{{ asset("static/images/all/__insertImageUid__.jpg") }}">
        <div class="card-body">
        </div>
        <div class="card-footer" style="background: none; border: none;">
            <p>__insertImageText__</p>
        </div>
    </div>
</div>