{#web {% extends "views/web/base.html.twig"%} web#}
 {% extends "views/cms/baseCms.html.twig"%} 
{% block body %}
     {%  import "includes/includes/cms/macro.html.twig" as forms %} 
    <div style="text-align: center;" class="container col-lg-6" >
         {{ forms.cmsElement() }} 
         <div onClick='return selectMe("ABOUT_US_TITLE", "Naslov");'> 
            <h2>O nama</h2>
         </div> 
         {{ forms.cmsElementEndTag() }} 
         {{ forms.cmsElement() }} 
         <div onClick='return selectMe("ABOUT_US_TEXT", "Tekst");'> 
            <p>
                eeee
            </p>
         </div> 
         {{ forms.cmsElementEndTag() }} 
    </div>
{% endblock body %}