{% extends "views/cms/baseCms.html.twig"%}
{% block body %}
    {%  import "includes/includes/cms/macro.html.twig" as forms %}
    <div class="container index-container">
        <div class="row row-eq-height">
            <div class="col-lg-6 index-col">
                <div class="index-jumbotron">
                    <a href="/cms/usluge/" class="">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-3">Nase usluge</h1><p class="lead">Pogledajte usluge koje nudimo*</p>
                                <p style="visibility: hidden; ">
                                    * Postoji mogucnost da list nije azurirana. Ako nismo naveli posao koji
                                    trazite, molimo da nas ipak kontaktirate
                                </p>
                                <p class="jumbotron-footer">
                                    * Postoji mogucnost da list nije azurirana. Ako nismo naveli posao koji
                                    trazite, molimo da nas ipak kontaktirate
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 index-col">
                <div class="index-jumbotron">
                    <a href="/cms/kontakt/" class="">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-3">Kontaktirajte nas</h1>
                                <p class="lead"><small>Dostupni smo putem telefona, emaila, kao i preko formulara kojeg
                                        nudimo na nasoj web stranici</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}